language: rust
rust:
    - "1.7.0" # Atcoder
    - "1.12.1" # Codeforces
    - stable
    - beta
    - nightly
matrix:
    allow_failures:
        - rust: "1.7.0"
        - rust: nightly
script: cd solutions; cargo build --verbose; cargo test --verbose
